@import '../../variables.scss';

.container{
    background-image: url('../../assets//images/background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: $header-height;
    width: 100%;
    box-sizing: border-box;
}

.container__section{
    max-width: $max-container-width;
    width: $main-container-width;
    margin: 0 auto;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.section__wrapper{
    grid-column: 1 / 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
}

.section__button{
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-column: 1 / 5; 
    grid-row: 5/7;
    top: 0;
}

.text__title{
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #FF3D00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.text__description{
    
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #FF9776 40%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.section__tiles{
    grid-row: 3/7;
    grid-column: 6 / 9;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.tiles__row{
    justify-content: right;
    display: flex;
    gap: 6px;
}

.tiles__item{
    background-color: $bg-white-transparent;
    width: 0px;
    height: 0px;
    padding: clamp(20px, 6vw, 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item__text-1{
    margin-bottom: clamp(6px, 1vw, 20px);
}