@import '../../variables.scss';

// --------------- Настройка хедера (START) --------------

.header{
    background-color: $bg-black-transparent;
    width: 100%;
    height: $header-height;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
}

.header__container{
    box-sizing: border-box;
    max-width: $max-container-width;
    width: $main-container-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}



@media (max-width: 991px){
    .header__container{
        width: 100%;
        padding: 10px;
    }
}

// --------------- Настройка хедера (END) --------------

// --------------- Меню Хедера (START) --------------

@keyframes fadeInUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }

  }

.nav__list--show{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: 'Museo';
    font-weight: 500;
    max-width: 800px;
}

.nav__item--show{
    text-decoration: none;
    color: white;
    transform:none;
    transition: 0.5s cubic-bezier(0.015, 0.810, 0.355, 1);
}

.nav__link{
    transition: .2s;
    position: relative;

    &:hover{
        color: rgb(162, 162, 162);

    }

    &::after{
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        left: 0;
        bottom: -3px;
        background-color:rgb(162, 162, 162);
        transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover::after{
        width: 100%;
    }
}

.nav__item--hide{
    transition: .15s;
    transition-delay: 0s;
    filter: blur(6px);
    @extend .nav__item--show;
    transform: translateY(-80px) scaleY(1.1);
    filter: blur(2px);
    opacity: 0;
}


@for $i from 1 through 8 {
    .nav__item--show:nth-child(#{$i}) {
      transition-delay: $i * .05s;
    }
  }

  @for $i from 1 through 8 {
    .nav__item--hide:nth-child(#{$i}) {
      transition-delay: $i * 0s;
    }
  }


.header__logo{
    display: block;
    height: 100%;
    z-index: 100;
}

.header__btn{
    height: 100%;
    z-index: 100;
}



@media (max-width: 991px){
    .nav__list--show{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        box-sizing: border-box;
        transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
        overflow: hidden;
        background-color: black;
        font-weight: 100;
        flex-direction: column;
        align-items: start;
        padding-inline: 10%;
        gap: 20px;
        justify-content: center;
        margin: 0;
        font-size: $font-size-xl;
    }


}

.nav__list--hide{
    @extend .nav__list--show;
    height: 0;
    filter: blur(10px);
}

// --------------- Меню Хедера (END) --------------