// ---------- Переменные SCSS (START) ----------

$header-height: 80px;
$main-container-width: 86%;
$max-container-width: 1400px;
$min-conrainer-width: 320px;

$font-size-xl: clamp(44px,4vw, 64px);
$font-size-l: clamp(24px, 3vw, 36px);
$font-size-m:clamp(20px, 2vw, 30px);
$font-size-s: clamp(16px, 1.5vw, 18px);

$bg-black-transparent: rgba(0,0,0, 0.2);
$bg-white-transparent: rgba(255, 255, 255, 0.05);

$bg-blur: blur(20px);

.bg-blur{
    backdrop-filter: $bg-blur;
    -webkit-backdrop-filter: $bg-blur;
}

// ---------- Переменные SCSS (END) ----------
